In [12]:
from df_utils import load_df
from crawl_ids import CrawlRokuLimitAdTracking, CrawlRokuMITM
import matplotlib.pyplot as plt
import seaborn as sns
from ott_leaks import print_leak_stats, remove_ch_name_url_false_positives

In [13]:
limit_ads = load_df(CrawlRokuLimitAdTracking, "tcp_conn")
vanilla = load_df(CrawlRokuMITM, "tcp_conn")

limit_ads_reqs = load_df(CrawlRokuLimitAdTracking, "http_req")
vanilla_reqs = load_df(CrawlRokuMITM, "http_req")

In [14]:
limit_ads_leaks = load_df(CrawlRokuLimitAdTracking, "leak")
vanilla_leaks = load_df(CrawlRokuMITM, "leak")

In [15]:
len(vanilla), len(limit_ads)

(7899, 7824)

In [16]:
len(vanilla_reqs), len(limit_ads_reqs)

(4120, 3880)

In [17]:
vanilla[vanilla.adblocked].domain.nunique(), limit_ads[limit_ads.adblocked].domain.nunique()

(96, 128)

In [18]:
set(vanilla.domain.unique()).difference(set(limit_ads.domain.unique()))

{u'azureedge.net',
 u'hwcdn.net',
 u'ispot.tv',
 u'kargo.com',
 u'mgo.com',
 u'sitescout.com',
 u'turncdn.com'}

In [19]:
set(limit_ads.domain.unique()).difference(set(vanilla.domain.unique()))

{u'360yield.com',
 u'3lift.com',
 u'abc.com',
 u'addthis.com',
 u'adform.net',
 u'adsymptotic.com',
 u'attribution.report',
 u'bidr.io',
 u'casalemedia.com',
 u'crwdcntrl.net',
 u'dotomi.com',
 u'emxdgt.com',
 u'exelator.com',
 u'eyeota.net',
 u'facebook.com',
 u'gvt1.com',
 u'ib-ibi.com',
 u'im-apps.net',
 u'mookie1.com',
 u'navdmp.com',
 u'nbcuni.com',
 u'openx.net',
 u'pubmatic.com',
 u'reson8.com',
 u'ru4.com',
 u'semasio.net',
 u'smartadserver.com',
 u'tailtarget.com',
 u'tapad.com',
 u'thebrighttag.com',
 u'twitter.com',
 u'univide.com',
 u'vdopia.com',
 u'yahoo.com',
 u'zeotap.com'}

In [20]:
vanilla.domain.nunique(), limit_ads.domain.nunique()

(266, 294)

In [21]:
print_leak_stats(vanilla_leaks)

             ID  Num. of leaks  Num. of channels
0  Channel name            610                22
1         AD ID            390                30
2  Build Number            321                34
3     Serial No            135                14
4           Zip              4                 1
5          City              2                 2

In [11]:
print_leak_stats(limit_ads_leaks)

             ID  Num. of leaks  Num. of channels
0  Channel name            530                23
1  Build Number            281                34
2     Serial No            118                13
3           Zip             11                 2
4          City              9                 3
5         State              7                 1

In [10]:
from nb_utils import get_popular_domains_from_tcp_conns, make_latex_table, get_popular_domains_from_reqs, get_channels_with_most_domains

In [11]:
get_popular_domains_from_tcp_conns(vanilla)

                    domain  Num. of channels
201               roku.com               100
80         doubleclick.net                97
111   google-analytics.com                24
20            akamaihd.net                17
76              demdex.net                15
206  scorecardresearch.com                15
124               ifood.tv                14
113  googlesyndication.com                13
205       s3.amazonaws.com                10
181             omtrdc.net                 9

In [12]:
get_popular_domains_from_tcp_conns(limit_ads)

                    domain  Num. of channels
220               roku.com               100
90         doubleclick.net                96
125   google-analytics.com                21
85              demdex.net                18
26            akamaihd.net                17
226  scorecardresearch.com                16
139               ifood.tv                14
127  googlesyndication.com                11
238        spotxchange.com                10
197             omtrdc.net                10

In [17]:
get_channels_with_most_domains(limit_ads, head=20)

,channel_name,rank,category,# tracking domains
33,Fox News Channel,35,News & Weather,57
81,Sexy Shorts,215,Special Interest,25
75,Relax My Dog - TV and Music,397,Special Interest,24
58,NBC News,31,News & Weather,15
59,NBC Sports,39,Sports,13
98,iFood.tv,571,Food,12
55,Models In Motion,339,Special Interest,10
57,NBA,80,Sports,10
14,CBS Sports Stream & Watch Live,117,Sports,8
87,TED,204,Educational,8
67,Nickelodeon,58,Kids & Family,8
71,Pluto TV - It's Free TV,11,Movies & TV,8
37,Grindhouse Connection Plus,252,Special Interest,7
15,CNNgo,59,News & Weather,7
46,Indian Recipes by iFood.tv,1065,Food,7
13,CBS News,28,News & Weather,7
6,Babes by Fawesome.tv,263,Special Interest,7
20,CopyKat Recipes,1178,Food,6
26,Dr Sonjia's Sex in South Beach,653,Educational,6
27,ESPN,21,Sports,6

In [18]:
get_channels_with_most_domains(vanilla, head=20)

,channel_name,rank,category,# tracking domains
75,Relax My Dog - TV and Music,397,Special Interest,21
20,CopyKat Recipes,1178,Food,20
58,NBC News,31,News & Weather,17
55,Models In Motion,339,Special Interest,12
15,CNNgo,59,News & Weather,10
59,NBC Sports,39,Sports,10
6,Babes by Fawesome.tv,263,Special Interest,10
99,iFood.tv,571,Food,9
57,NBA,80,Sports,8
87,TED,204,Educational,8
67,Nickelodeon,58,Kids & Family,7
37,Grindhouse Connection Plus,252,Special Interest,7
13,CBS News,28,News & Weather,7
14,CBS Sports Stream & Watch Live,117,Sports,7
7,BabyFirst,408,Educational,7
26,Dr Sonjia's Sex in South Beach,653,Educational,6
1,ABC News,41,News & Weather,6
64,NewsON,36,News & Weather,6
33,Fox News Channel,35,News & Weather,6
97,YouTube TV,9,Movies & TV,5